<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
   
    <ion-title color="primary" style=" padding-left:83px; font-weight: bold;">CheckVax</ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="user$ | async as user">
<ion-list color="light">
  <ion-item>
   <ion-card color="primary" style="width:100%">
     <ion-card-content >

      <ion-label style="font-weight:bold; font-size:95%">{{ user.name }}</ion-label>
      <ion-label>{{ user.staffid }}</ion-label>
     </ion-card-content>
    </ion-card>  
  </ion-item>
 
</ion-list>
<ion-card>
  
  <ion-card-content>
    <div class="flex-center">
    <ion-avatar style="width:80px; height:80px;">
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
    </ion-avatar></div>
    <ion-card-subtitle>
      <p style="text-align:center">{{user.staffid}}</p>
    </ion-card-subtitle>
    

    <ion-item lines="none">
      <ion-label style="text-align:center">
        <strong>APPOINMENT</strong>
      </ion-label>
    </ion-item>

      <ion-label style="text-align:center">
        <p style="white-space:normal">Please update your vaccination certificate</p>
      </ion-label>
      
      <!--List of appointments-->
      <app-update-appointment *ngFor="let appointment of appointments" (click)="openAppointment()" id={{appointment.id}} appointmentType={{appointment.appointmentType}}></app-update-appointment>
      <app-update-appointment *ngFor="let appointment1 of appointments1" (click)="openAppointment()" id={{appointment1.id}} appointmentType={{appointment1.appointmentType}}></app-update-appointment>

    
     

  <!--Add Appointments-->
    <ion-accordion-group>
  <ion-accordion value="addapp" toggle-icon="add-circle-outline">
    <ion-item slot="header">
      <ion-label color="primary" style="text-align:center">ADD VACCINE</ion-label>
    </ion-item>

    <ion-list slot="content">
      
      <ion-item>
        <ion-label>Appointment</ion-label>
        <ion-item>
        <ion-select value="appointmentType" [(ngModel)]="appointmentType" okText="Okay" cancelText="Cancel">
          <ion-select-option  value="1st Booster" checked="true">1st Booster</ion-select-option>
          <ion-select-option  value="2nd Booster">2nd Booster</ion-select-option>
          <ion-select-option  value="3rd Booster">3rd Booster</ion-select-option>
          <ion-select-option  value="1st Dose">1st Dose</ion-select-option>
          <ion-select-option  value="2nd Dose">2nd Dose</ion-select-option>
        </ion-select>
      </ion-item>
      </ion-item>
         
      <ion-item>
        <ion-label>Vaccine</ion-label>
        <ion-item>
        <ion-select value="vaccineType" [(ngModel)]="vaccineType" okText="Okay" cancelText="Cancel">
          <ion-select-option  value="Astrazeneca" checked="true">Astrazeneca</ion-select-option>
          <ion-select-option  value="Pfizer">Pfizer</ion-select-option>
          <ion-select-option  value="Sinovac">Sinovac</ion-select-option>
          <ion-select-option  value="Cansino">CanSino</ion-select-option>
          <ion-select-option  value="Coronavac">CoronaVac</ion-select-option>
          <ion-select-option  value="Covaxin">Covaxin</ion-select-option>
          <ion-select-option  value="Jnj">Johnson & Johnson</ion-select-option>
          <ion-select-option  value="Moderna">Moderna</ion-select-option>
          <ion-select-option  value="Sinopharm">Sinopharm BBIBP</ion-select-option>
        </ion-select>
      </ion-item>
      </ion-item>
      <ion-item>
        <ion-label>Date</ion-label>
      </ion-item>
      <ion-item>
        <ion-datetime displayFormat="DD/MM/YYYY  HH:mm" [(ngModel)]="date" placeholder="Select Date"></ion-datetime>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Health Facilities</ion-label>
        
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="healthFacilities" placeholder="Enter location"></ion-input>
      </ion-item>
      <ion-button (click)="btnAddClicked()" class="button-add-vaccine" color="primary" style="margin-top:10px;">Add</ion-button>
    </ion-list>
  </ion-accordion>
  
</ion-accordion-group>
  </ion-card-content>
</ion-card>

</ion-content>
