<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
   
    <ion-title color="primary" style=" padding-left:83px; font-weight: bold;">CheckVax</ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-list color="light">
  <ion-item *ngIf="user$ | async as user">
   <ion-card color="primary" style="width:100%">
     <ion-card-content >
      <h1 style="font-weight:bold; font-size:95%">{{ user.name }}</h1>
      <p>{{ user.staffid }}</p>
     </ion-card-content>
    </ion-card>  
  </ion-item>
 
</ion-list>
<ion-card>
  
  <ion-card-content>

    <ion-card-subtitle>
      <p style="text-align:center">Tuesday    22/2/2022    3:16:20</p>
    </ion-card-subtitle>
      <ion-card color="warning">
        <ion-card-content>
         <h1 style="color:white; text-align:center; font-weight:bold; font-size:100%">Partially Vaccinated</h1>
        </ion-card-content>
       </ion-card>  

    <ion-item lines="none">
 
      <ion-label style="text-align:center">
        <strong>STATUS</strong>
      </ion-label>
    </ion-item>
    <ion-item lines="none">
      <ion-label>
        <p style="white-space:normal">Please update your vaccination certificate</p>
      </ion-label>
        <ion-button (click)="navUpdate()" color="primary" >Update</ion-button>
    </ion-item>
    <ion-list>
      <ion-item lines="none">
       <div class="status-icon"><ion-label>First Dose</ion-label> </div>
        <div class="status-icon"><ion-label>Second Dose</ion-label> </div>
      </ion-item>
      <ion-progress-bar color="success" value="0.5"></ion-progress-bar>
    </ion-list>
    
    <ion-item lines="none"> 
            <div class="status-icon">
                <ion-icon name="checkmark-circle" color="success" style="height: 40px; width: 40px; "></ion-icon>
            </div>
            <div class="status-icon">
                <ion-icon name="checkmark-circle" color="medium" style="height: 40px; width: 40px;"></ion-icon>
            </div>
    </ion-item>

  </ion-card-content>
</ion-card>

</ion-content>
